<template>
    <div class="pipeline-item animated bounceIn faster">
        <div class="pi-controls">
            <el-tooltip v-if="user.accountstatus == 1" content="Account is active" placement="top">
                <div class="status status-green"></div>
            </el-tooltip>
            <el-tooltip v-else content="Account deactivated" placement="top">
                <div class="status status-red"></div>
            </el-tooltip>
        </div>
        <div class="pi-body">
            <div class="avatar">
                <img class="shadow" v-if="user.avatar != null" :src="user.avatarlink+user.avatar">
            </div>
            <div class="pi-info">
                <div class="h6 pi-name">{{user.full_name}}</div>
                <div class="pi-sub">{{user.role}}</div>
            </div>
        </div>
        <div class="pi-foot">
            <div class="tags">
                <span v-if="user.accountstatus == 1" @click="accountaction(user)" class="point tag text-danger">Suspend</span>
                <span v-else @click="accountaction(user)" class="point tag text-success">Activate</span>
                <span @click="editaction(user)" class="point tag text-success">Edit</span>
            </div>
            <a class="extra-info">
                <span>{{user.created_at | moment}}</span>
            </a>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex'
    import Bus from '../../../bus'
    import moment from 'moment'
    import isEmpty from 'lodash'
    export default {
        data(){
            return{
                isChanging: false,
                errors: [],
                updateuser:[]
            }
        },
        props:{
            user:{
                required: true,
                type: Object
            },
        },
        filters: {
            moment: function(date) {
                return moment(date).format('DD MMM YYYY');
            }
        },
        methods:{
            ...mapActions({
                changestatus: 'users/changestatus'
            }),
            editaction(user){
                Bus.$emit('open-user-modal', user)
            },
            accountaction(usr){
                this.isChanging = true;
                this.errors = [];
                this.changestatus({
                    payload: {
                        id: usr.id,
                        status: usr.accountstatus
                    },
                    context: this
                }).then(() => {
                    this.isChanging = false;
                    if (isEmpty(this.errors)) {
                        usr.accountstatus = this.updateuser.accountstatus
                        if (this.updateuser.accountstatus == 1) {
                            var data = {'title': 'Activated.', 'bottomclass': 'darkerror', 'topclass': 'swalsuccess', 'swalicon': 'icon-like', 'message': `${usr.full_name}'s account activated !`}
                        }else{
                            var data = {'title': 'Deacticated.', 'bottomclass': 'darkerror', 'topclass': 'swalerror', 'swalicon': 'icon-exclamation', 'message': `${usr.full_name}'s account deactivated !`}
                        }
                        Bus.$emit('show-message-swal', data)
                    }
                })
            }
        }
    }
</script>