<template>
    <div class="content-box">
        <div class="control-header">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="form-group mr-4">
                        <label class="mr-2">Users</label>
                    </div>
                </div>
                <div class="col-4">
                    <!-- <input v-model="searchSearch" class="form-control text-center form-control-sm rounded bright" placeholder="Search by name" type="text"> -->
                </div>
                <div class="col-4 text-right">
                    <button @click="newcenter" class="mr-2 mb-2 btn btn-primary btn-sm">
                        <i class="os-icon os-icon-ui-22"></i>
                        <span>Add User</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pipelines-w">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="pipeline white lined-danger">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Employee</h5>
                        </div>
                        <div class="pipeline-body">
                            <userdata class="pipeline-item" v-for="user in normaluser" :key="user.id" :user="user"></userdata>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-4">
                    <div class="pipeline white lined-primary">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Member</h5>
                        </div>
                        <div class="pipeline-body">
                            <userdata class="pipeline-item" v-for="user in admin" :key="user.id" :user="user"></userdata>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-4">
                    <div class="pipeline white lined-success">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Manager</h5>
                        </div>
                        <div class="pipeline-body">
                            <userdata class="pipeline-item" v-for="user in superuser" :key="user.id" :user="user"></userdata>
                        </div>
                    </div>
                </div>

                <modal name="userDataModal" :scrollable="true" classes="animated bounceInDown faster" :clickToClose="true" height="auto" :adaptive="true" :pivotY="0.2">
                    <usersform :user="user" :state="state" :departments="departments"></usersform>
                </modal>
            </div>
        </div>
    </div>
</template>
<script>
    import Bus from '../../../bus'
    import { mapGetters, mapActions } from 'vuex'
    import { isEmpty } from 'lodash'
    export default {
        data () {
            return {
                errors: [],
                state: null,
                search: null,
                isSearching: false,
                isLoading: false,
                searchSearch:''
            }
        },
        computed: {
            ...mapGetters({
                users: 'users/getusers',
                user: 'users/getUser',
                departments: 'costcenters/getCenterList',
            }),
            normaluser: function(){
                var normaluser = [];
                normaluser = this.users.filter((usr) => {
                    return usr.roleid == '1'
                })
                return normaluser;
            },
            admin: function(){
                var admin = [];
                admin = this.users.filter((usr) => {
                    return usr.roleid == '2'
                })
                return admin;
            },
            superuser: function(){
                var superuser = [];
                superuser = this.users.filter((usr) => {
                    return usr.roleid == '3'
                })
                return superuser;
            },
        },
        methods: {
            ...mapActions({
                fetchUsers: 'users/fetchUsers',
                fetchDepartmentList: 'costcenters/fetchDepartmentList',
                selectedUser: 'users/selectedUser',
            }),
            newcenter(){
                this.selectedUser()
                this.errors = [];
                this.state = 2
                this.$modal.show('userDataModal')
            }
        },
        mounted (){
            this.fetchUsers()
            this.fetchDepartmentList()
            Bus.$on('open-user-modal', (data)=> {
                this.selectedUser(data)
                this.errors = []
                this.state = 1
                this.$modal.show('userDataModal')
            })
            Bus.$on('close-usr-modal', ()=> {
                this.$modal.hide('userDataModal');
            })
            Bus.$on('new-usr-data', (data)=> {
                this.users.unshift(data)
            })
        }
    }
</script>