<template>
    <div :class="[user.authenticated == true ? '' : 'hider', theme == true ? 'color-scheme-light' : 'color-scheme-dark']" class="menu-w menu-activated-on-hover menu-has-selected-link color-style-default sub-menu-color-bright menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout selected-menu-color-light">
        <div class="logo-w">
            <router-link class="logo" to="/">
                <div class="logo-element"></div>
                <div class="logo-label">Task Manager</div>
            </router-link>
        </div>
        <div class="element-search autosuggest-search-activator">
            <input id="search" class="search" autofocus placeholder="Search the menu..." type="text">
        </div>
        <h1 class="menu-page-header">Page Header</h1>
        <ul class="main-menu">
            <li class="sub-header">
                <span>Assets & Fuel</span>
            </li>
            <!-- Dashboard -->
            <li class="sub-menu">
                <router-link to="/dashboard">
                    <span class="hidden">Dashboard</span>
                    <div class="icon-w">
                        <div class="icon-screen-desktop"></div>
                    </div>
                    <span>Dashboard</span>
                </router-link>
            </li>

            <li class="sub-menu">
                <router-link to="/costcenters">
                    <span class="hidden">Departments</span>
                    <div class="icon-w">
                        <div class="icon-layers"></div>
                    </div>
                    <span>Departments</span>
                </router-link>
            </li>

            <li class="sub-menu">
                <router-link to="/users">
                    <span class="hidden">Users</span>
                    <div class="icon-w">
                        <div class="icon-people"></div>
                    </div>
                    <span>Users</span>
                </router-link>
            </li>
            <!-- Assets -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Tasks & Follow Up </span>
                    <div class="icon-w">
                        <div class="icon-plane"></div>
                    </div>
                    <span>Tasks & Follow Up</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Tasks</div>
                    <div class="sub-menu-icon">
                        <i class="icon-plane"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/tasks">Tasks <strong class="badge badge-danger">3</strong></router-link></li>
                            <li><router-link to="/my-tasks">My tasks</router-link></li>
                            <li><router-link to="/user-dashboard">User board</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Utilities -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Utilities Progress status Categories Access levels Priorities</span>
                    <div class="icon-w">
                        <div class="icon-settings"></div>
                    </div>
                    <span>Utilities</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Utilities</div>
                    <div class="sub-menu-icon">
                        <i class="icon-settings"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/progress-status">Progress status</router-link></li>
                            <li><router-link to="/categories">Categories</router-link></li>
                            <li><router-link to="/accesslevels">Access levels</router-link></li>
                            <li><router-link to="/priorities">Priorities</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="side-menu-magic">
            <p>2019 © Task Manager</p>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            theme(){
                return this.filterByDay()
            }
        },
        methods: {
            filterByDay() {
                if (this.user.data != null) {
                     if (this.user.data.theme == 1) {
                        return true
                    }else{
                        return false
                    }
                }
            },
        }
    }
</script>
<style scoped>
.menu-w.menu-layout-compact{
    flex: 0 0 230px;
}
.menu-position-side.menu-w .element-search input{
    padding: 4px 4px 4px 40px;
}
.menu-w .side-menu-magic{
    padding: 20px;
}
</style>
