<template>
    <div class="menu-mobile menu-activated-on-hover color-scheme-light" :class="[user.authenticated == true ? '' : 'hider']">
        <div class="mm-logo-buttons-w">
            <router-link class="mm-logo" to="/">
                <img src="assets/img/logo.png">
                <span>Task Manager</span>
            </router-link>
            <div class="mm-buttons">
                <div class="mobile-menu-trigger">
                    <div class="os-icon os-icon-hamburger-menu-1"></div>
                </div>
            </div>
        </div>
        <div class="menu-and-user">
            <ul class="main-menu">
                <!-- Dashboard -->
                <li class="sub-menu">
                    <router-link to="/dashboard">
                        <span class="hidden">Dashboard</span>
                        <div class="icon-w">
                            <div class="icon-screen-desktop"></div>
                        </div>
                        <span>Dashboard</span>
                    </router-link>
                </li>

                <li class="sub-menu">
                    <router-link to="/costcenters">
                        <span class="hidden">Departments</span>
                        <div class="icon-w">
                            <div class="icon-layers"></div>
                        </div>
                        <span>Departments</span>
                    </router-link>
                </li>

                <li class="sub-menu">
                    <router-link to="/users">
                        <span class="hidden">Users</span>
                        <div class="icon-w">
                            <div class="icon-people"></div>
                        </div>
                        <span>Users</span>
                    </router-link>
                </li>

                
                <!-- Assets -->
                <li class="has-sub-menu">
                    <a href="javascript:void(0);">
                        <div class="icon-w">
                            <div class="icon-plane"></div>
                        </div>
                        <span>Tasks & Follow Up</span>
                    </a>
                    <ul class="sub-menu">
                        <li><router-link to="/tasks">Tasks <strong class="badge badge-danger">3</strong></router-link></li>
                        <li><router-link to="/my-tasks">My tasks</router-link></li>
                        <li><router-link to="/user-dashboard">User board</router-link></li>
                    </ul>
                </li>
                <!-- Pool -->
                <li class="has-sub-menu">
                    <a href="javascript:void(0);">
                        <div class="icon-w">
                            <div class="icon-calendar"></div>
                        </div>
                        <span>Utilities</span>
                    </a>
                    <ul class="sub-menu">
                        <li><router-link to="/progress-status">Progress status</router-link></li>
                        <li><router-link to="/categories">Categories</router-link></li>
                        <li><router-link to="/accesslevels">Access levels</router-link></li>
                        <li><router-link to="/priorities">Priorities</router-link></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        computed: mapGetters({
            user: 'auth/user'
        }),
    }
</script>