<template>
    <div class="content-box">
        <div class="pipelines-w">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <div class="pipeline white">
                        <div class="pipeline-header">
                            <div class="element-header row">
                                <div class="col-sm-3">
                                    <h4>Priority</h4>
                                </div>
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-3 text-right">
                                    <button @click="newtask" class="mr-2 mb-2 btn btn-primary btn-sm">
                                        <i class="os-icon os-icon-ui-22"></i>
                                        <span>Add new</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="table-responsive">
                                    <loading v-if="isLoading == true"></loading>
                                    <table v-else class="table table-padded">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="cent in centers" :key="cent.id">
                                                <td>{{cent.name}}</td>
                                                <td>{{cent.description}}</td>
                                                <td class="row-actions text-right">
                                                    <span @click="open(cent)"><i class="os-icon os-icon-common-07"></i></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal name="prioritiesModal" classes="animated bounceInDown faster" :clickToClose="true" height="auto" :adaptive="true" :pivotY="0.2">
            <prioritiesform :cnt="cnt" :state="state"></prioritiesform>
        </modal>
    </div>
</template>
<script>
    import Bus from '../../../bus'
    import { mapGetters, mapActions } from 'vuex'
    export default {
        data () {
            return {
                returnData: [],
                errors: [],
                state: null,
                empty:null,
                isLoading: false
            }
        },
        computed: {
            ...mapGetters({
                centers: 'priorities/getPriorities',
                cnt: 'priorities/getPriority'
            })
        },
        methods: {
            ...mapActions({
                fetchpriorities: 'priorities/fetchpriorities',
                selectedpriority: 'priorities/selectedpriority',
            }),
            newtask(){
                this.selectedpriority()
                this.errors = [];
                this.state = 2
                this.$modal.show('prioritiesModal')
            },
            open(cnt){
                this.selectedpriority(cnt)
                this.errors = [];
                this.state = 1
                this.$modal.show('prioritiesModal')
            }
        },
        mounted (){
            this.fetchpriorities()
            Bus.$on('close-priorities-modal', ()=> {
                this.$modal.hide('prioritiesModal');
            })
            Bus.$on('new-priorities-data', (data)=> {
                this.centers.push(data)
            })
        }
    }
</script>