<template>
    <div class="mymodal">
        <div class="modalbluepart mr-auto ml-auto">
            <div class="row">
                <div class="col-10 mt-2">
                    <h5 class="text-white ml-3 mt-2">{{data.title}}</h5>
                </div>
                <div class="col-2 text-right pt-2">
                    <i @click.prevent="closeDashmodal" class="point text-white icon-close mr-2" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div class="modalwhitepart mr-auto ml-auto">
            <div class="table-responsive">
                <div class="profile-tile">
                    <span class="profile-tile-box point">
                        <div class="pt-avatar-w">
                            <img v-if="data.user != null" :src="data.user.avatarlink+data.user.avatar">
                        </div>
                    </span>
                    <div class="profile-tile-meta">
                        <ul>
                            <li>Title:<strong>{{data.title}}</strong></li>
                            <li>Description:<strong>{{data.description}}</strong></li>
                            <li v-if="data.prioritydesc != null">Priority:<strong>{{data.prioritydesc.name}}</strong></li>
                            <li v-if="data.due_date != null">Due date:<strong>{{data.due_date|moment}}</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="element-wrapper pb-0">
                    <div class="p-0">
                        <h6 class="element-header">Other details</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="timed-activities compact">
                                    <div class="timed-activity">
                                        <div class="ta-date"><span>Dates</span></div>
                                        <div class="ta-record-w">
                                            <div class="ta-record" v-for="dt in data.dateadjustments" :key="dt.id">
                                                <div class="ta-timestamp"><b>{{dt.user_id}}</b></div>
                                                <div class="ta-activity">{{dt.date_to|moment}}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <el-date-picker v-model="date" type="date" format="dd-MM-yyyy"></el-date-picker>
                                                    <formerror v-if="errors.date" :error="errors.date[0]"></formerror>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Reason" v-model="reason" class="form-control">
                                                    <formerror v-if="errors.reason" :error="errors.reason[0]"></formerror>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button :disabled="isAddingdata" @click="adddates" class="btn btn-sm btn-success">
                                                    <i v-if="isAddingdata" class="fa os-icon os-icon-grid-18 fa-spin"></i>
                                                    <span v-else>Save</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="timed-activities compact">
                                    <div class="timed-activity">
                                        <div class="ta-date"><span>Assigned users/Department</span></div>
                                        <div class="ta-record-w">
                                            <div class="ta-record" v-for="ass in data.assignees" :key="ass.id">
                                                <div class="ta-timestamp"><b>{{ass.user_id}}</b></div>
                                                <div class="ta-activity mb-1 pb-1">{{ass.comment}}</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <v-select label="value" :onChange="usercenterCallback" :options="usercenter"></v-select>
                                                    <formerror v-if="errors.userDepart" :error="errors.userDepart[0]"></formerror>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Comment" v-model="userComments" class="form-control">
                                                    <formerror v-if="errors.userComments" :error="errors.userComments[0]"></formerror>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button :disabled="isAddingdata" @click="adduserdept" class="btn btn-sm btn-success">
                                                    <i v-if="isAddingdata" class="fa os-icon os-icon-grid-18 fa-spin"></i>
                                                    <span v-else>Save</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="timed-activities compact">
                                    <div class="timed-activity">
                                        <div class="ta-date"><span>Comments</span></div>
                                        <div class="ta-record-w">
                                            <div class="ta-record" v-for="cm in data.comments" :key="cm.id">
                                                <div class="ta-timestamp"><b>{{cm.user_id}}</b></div>
                                                <div class="ta-activity mb-1 pb-1">{{cm.comment}}</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10">
                                                <input type="text" v-model="newComment" class="form-control">
                                                <formerror v-if="errors.newComment" :error="errors.newComment[0]"></formerror>
                                            </div>
                                            <div class="col-md-2">
                                                <button :disabled="isAddingdata" @click="addcomment" class="btn btn-sm btn-success">
                                                    <i v-if="isAddingdata" class="fa os-icon os-icon-grid-18 fa-spin"></i>
                                                    <span v-else>Save</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import Bus from '../../../bus'
    import moment from 'moment'
    import { mapGetters, mapActions } from 'vuex'
    import { isEmpty } from 'lodash'
    import vSelect from "vue-select"
    export default {
        components: {
            vSelect,
        },
        data() {
            return {
                isAddingdata:false,
                date:null,
                errors:[],
                reason: null,
                newComment:null,
                userDepart:null,
                datatype: null,
                newdata:[],
                userComments: null,
                newcommentdata: [],
                newuserdepartment:[]
            }
        },
        filters:{
            moment: function(date) {
                return moment(date).format('DD MMM YYYY')
            }
        },
        props:{
            data:{
                required: false,
                type: Object
            },
            usercenter:{
                required: true,
                type: Array
            }
        },
        methods:{
            ...mapActions({
                updatTask: 'tasks/updatTask',
                createTask: 'tasks/createTask',
                addExtendedDate: 'tasks/addExtendedDate',
                addCommentStaff: 'tasks/addCommentStaff',
                addUserDepartmentComment: 'tasks/addUserDepartmentComment',
            }),
            usercenterCallback(theme){
                if (theme != null) {
                    this.userDepart = theme.lable
                    this.datatype = theme.type
                }
            },
            dateFormater(date){
                if (date != null && date != "") {
                    var today = new Date(date);
                    var dd = today.getDate();
                    var mm = today.getMonth()+1;
                    var yyyy = today.getFullYear();
                    var dateIssued = yyyy+'-'+mm+'-'+dd;
                    return dateIssued;
                }else {
                    return null;
                }
            },
            adddates(){
                this.isAddingdata = true;
                this.errors = [];
                this.addExtendedDate({
                    payload: {
                        id: this.data.id,
                        reason: this.reason,
                        dateFrom: this.dateFormater(this.data.due_date),
                        date: this.dateFormater(this.date),
                    },
                    context: this
                })
                .then(() => {
                    this.isAddingdata = false;
                    if (isEmpty(this.errors)) {
                        this.data.dateadjustments.push(this.newdata)
                        this.date = null
                        this.reason = null
                    }
                })
            },
            addcomment(){
                this.isAddingdata = true;
                this.errors = [];
                this.addCommentStaff({
                    payload: {
                        id: this.data.id,
                        newComment: this.newComment,
                    },
                    context: this
                })
                .then(() => {
                    this.isAddingdata = false;
                    if (isEmpty(this.errors)) {
                        this.data.comments.push(this.newcommentdata)
                        this.newComment = null
                    }
                })
            },
            adduserdept(){
                this.isAddingdata = true;
                this.errors = [];
                this.addUserDepartmentComment({
                    payload: {
                        id: this.data.id,
                        userDepart: this.userDepart,
                        datatype: this.datatype,
                        userComments: this.userComments,
                    },
                    context: this
                })
                .then(() => {
                    this.isAddingdata = false;
                    if (isEmpty(this.errors)) {
                        this.data.assignees.push(this.newuserdepartment)
                        this.userDepart = null
                        this.datatype = null
                        this.userComments = null
                    }
                })
            },
            closeDashmodal: function () {
                Bus.$emit('close-dasbordtask-modal','close')
            },
        }
    }
</script>