<template>
    <div class="content-box">
        <div class="row">
            <div class="col-12 pipelines-w mb-3">
                <div class="element-wrapper pb-2">
                    <h6 class="element-header">My tasks</h6>
                    <div class="pipeline white mb-0">
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="table-responsive">
                                    <table class="table table-padded mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type/Category</th>
                                                <th>Priority</th>
                                                <th>Due date</th>
                                                <th>Status</th>
                                                <!-- <th>Done</th> -->
                                                <th>Created by</th>
                                                <th>Assigned to</th>
                                                <th>Description</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="cent in tasks" :key="cent.id">
                                                <td>{{cent.title}}</td>

                                                <td v-if="cent.categorydesc != null">{{cent.categorydesc.name}}</td>
                                                <td v-else></td>

                                                <td v-if="cent.prioritydesc != null">{{cent.prioritydesc.name}}</td>
                                                <td v-else></td>

                                                <td>{{cent.due_date}}</td>

                                                <td v-if="cent.progress != null">{{cent.progress.name}}</td>
                                                <td v-else></td>

                                                <!-- <td v-if="cent.progress != null">{{cent.progress.name}}</td>
                                                <td v-else></td> -->

                                                <td v-if="cent.user != null">{{cent.user.full_name}}</td>
                                                <td v-else></td>

                                                <!-- <td v-if="cent.departmentdesc != null">{{cent.departmentdesc.name}}</td>
                                                <td v-else></td> -->

                                                <td v-if="cent.assigened != null">{{cent.assigened.full_name}}</td>
                                                <td v-else></td>

                                                <td>{{cent.description}}</td>

                                                <td class="row-actions text-right">
                                                    <span @click="open(cent)"><i class="os-icon os-icon-common-07"></i></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Bus from '../../../bus'
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: {
        ...mapGetters({
            tasks: 'tasks/getMyTasks',
        })
    },
    methods: {
        ...mapActions({
            myTasks: 'tasks/myTasks',
        }),
        newtask(){
            this.selectedCenter()
            this.errors = [];
            this.state = 2
            this.$modal.show('taskModal')
        },
        open(data){
            this.selectedCenter(data)
            this.errors = [];
            this.state = 1
            this.$modal.show('taskModal')
        }
    },
    mounted (){
        this.myTasks()
    }
}
</script>

<style>

</style>
