<template>
    <div class="mymodal">
        <div class="modalbluepart mr-auto ml-auto">
            <div class="row">
                <div class="col-10 mt-2">
                    <h5 v-if="state == 1" class="text-white ml-3 mt-2">{{task.title}}</h5>
                    <h5 v-else class="text-white ml-3 mt-2">New task</h5>
                </div>
                <div class="col-2 text-right pt-2">
                    <i @click.prevent="closemodal" class="point text-white icon-close mr-2" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div class="modalwhitepart mr-auto ml-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Title <asteriks/></label>
                        <input v-if="state == 1" type="text" class="form-control" v-model="task.title">
                        <input v-else type="text" class="form-control" v-model="title">
                        <formerror v-if="errors.title" :error="errors.title[0]"></formerror>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Priority <asteriks/></label>
                        <v-select v-if="state == 1" :onChange="priorityCallback" v-model="task.prioritydesc.name" label="value" :options="priorities"></v-select>
                        <v-select v-else :onChange="priorityCallback" label="value" :options="priorities"></v-select>
                        <formerror v-if="errors.priority" :error="errors.priority[0]"></formerror>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Description <asteriks/></label>
                        <input v-if="state == 1" type="text" class="form-control" v-model="task.description">
                        <input v-else type="text" class="form-control" v-model="description">
                        <formerror v-if="errors.description" :error="errors.description[0]"></formerror>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Private / Public <asteriks/></label>
                        <v-select v-if="state == 1" :onChange="accesslevelCallback" v-model="task.accessdesc.name" label="value" :options="accesslevels"></v-select>
                        <v-select v-else :onChange="accesslevelCallback" label="value" :options="accesslevels"></v-select>
                        <formerror v-if="errors.accessLevel" :error="errors.accessLevel[0]"></formerror>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Due date</label>
                        <el-date-picker v-if="state == 1" v-model="task.due_date" type="date" format="dd-MM-yyyy"></el-date-picker>
                        <el-date-picker v-else v-model="dueDate" type="date" format="dd-MM-yyyy"></el-date-picker>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Status</label>
                        <span v-if="state == 1">
                            <v-select v-if="task.progress != null" :onChange="statusUpdateCallback" v-model="task.progress.name" label="value" :options="prostatus"></v-select>
                            <v-select v-else :onChange="statusUpdateCallback" label="value" :options="prostatus"></v-select>
                        </span>
                        <v-select v-else :onChange="statusCallback" label="value" :options="prostatus"></v-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Category</label>
                        <span v-if="state == 1">
                            <v-select v-if="task.categorydesc != null" :onChange="categoryUpdateCallback" v-model="task.categorydesc.name" label="value" :options="categories"></v-select>
                            <v-select v-else :onChange="categoryUpdateCallback" label="value" :options="categories"></v-select>
                        </span>
                        <v-select v-else :onChange="categoryCallback" label="value" :options="categories"></v-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Assigned department</label>
                        <span v-if="state == 1">
                            <v-select v-if="task.departmentdesc != null" :onChange="departmentUpdateCallback" v-model="task.departmentdesc.name" label="value" :options="departments"></v-select>
                            <v-select v-else :onChange="departmentUpdateCallback" label="value" :options="departments"></v-select>
                        </span>
                        <v-select v-else :onChange="departmentCallback" label="value" :options="departments"></v-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Assigned user</label>
                        <span v-if="state == 1">
                            <v-select v-if="task.assigened != null" :onChange="userUpdateCallback" v-model="task.assigened.full_name" label="value" :options="users"></v-select>
                            <v-select v-else :onChange="userUpdateCallback" label="value" :options="users"></v-select>
                        </span>
                        <v-select v-else :onChange="userCallback" label="value" :options="users"></v-select>
                    </div>
                </div>
            </div>
            <div class="row" v-if="state == 1">
                <div class="col-md-6 text-success">
                    <span class="value with-avatar">
                        <img v-if="task.user != null" :src="task.user.avatarlink+task.user.avatar">
                        <span>{{task.user.full_name}}</span>
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    <span class="lablevalue">{{task.created_at | moment}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button v-if="state == 1" @click.prevent="update" :disabled="isUpdating" class="btn btn-sm btn-success btn-rounded">
                        <i v-if="isUpdating" class="fa os-icon os-icon-grid-18 fa-spin"></i>
                        <span v-else>Update</span>
                    </button>
                    <button v-else @click.prevent="newcenter" :disabled="isSubmitting" class="btn btn-sm btn-success btn-rounded">
                        <i v-if="isSubmitting" class="fa os-icon os-icon-grid-18 fa-spin"></i>
                        <span v-else>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Bus from '../../../bus'
    import { mapGetters, mapActions } from 'vuex'
    import { isEmpty } from 'lodash'
    import moment from 'moment'
    import vSelect from "vue-select"
    export default {
        components: {
            vSelect,
        },
        data(){
            return{
                title: null,
                dueDate: null,
                priority: null,
                description: null,
                progressStatus: null,
                category: null,
                accessLevel:null,
                department: null,
                user: null,
                newdata:[],
                isSubmitting: false,
                isUpdating: false,
                errors: [],
            }
        },
        filters:{
            moment: function(date) {
                return moment(date).fromNow()
            }
        },
        props:{
            task:{
                required: false,
                type: Object
            },
            state:{
                required: true,
                type: Number
            },
            priorities:{
                required:true,
                type: Array
            },
            categories:{
                required:true,
                type: Array
            },
            accesslevels:{
                required:true,
                type: Array
            },
            prostatus:{
                required:true,
                type: Array
            },
            departments:{
                required:true,
                type: Array
            },
            users:{
                required:true,
                type: Array
            }
        },
        methods:{
            ...mapActions({
                updatTask: 'tasks/updatTask',
                createTask: 'tasks/createTask',
            }),
            closemodal: function () {
                Bus.$emit('close-task-modal')
            },
            userCallback(val){
                if (val) {
                    this.user = val.lable
                }
            },
            priorityCallback(val){
                if (val) {
                    this.priority = val.lable
                }
            },
            accesslevelCallback(val){
                if (val) {
                    this.accessLevel = val.lable
                }
            },
            statusCallback(val){
                if (val) {
                    this.progressStatus = val.lable
                }
            },
            categoryCallback(val){
                if (val) {
                    this.category = val.lable
                }
            },
            departmentCallback(val){
                if (val) {
                    this.department = val.lable
                }
            },
            userUpdateCallback(val){
                if (val.lable != null) {
                    this.task.assigened_user = val.lable
                    this.task.assigened.full_name = val.value
                    if (this.task.assigened != null) {
                        this.task.assigened.full_name = val.value
                    }
                }
            },
            priorityUpdateCallback(val){
                if (val.lable != null) {
                    this.task.priority = val.lable
                    if (this.task.prioritydesc != null) {
                        this.task.prioritydesc.name = val.value
                    }
                }
            },
            accesslevelUpdateCallback(val){
                if (val.lable != null) {
                    this.task.access_level = val.lable
                    if (this.task.accessdesc != null) {
                        this.task.accessdesc.name = val.value
                    }
                }
            },
            statusUpdateCallback(val){
                if (val.lable != null) {
                    this.task.progress_status = val.lable
                    if (this.task.progress != null) {
                        this.task.progress.name = val.value
                    }
                }
            },
            categoryUpdateCallback(val){
                if (val.lable != null) {
                    this.task.category = val.lable
                    if (this.task.categorydesc != null) {
                        this.task.categorydesc.name = val.value
                    }
                }
            },
            departmentUpdateCallback(val){
                if (val.lable != null) {
                    this.task.department = val.lable
                    if (this.task.departmentdesc != null) {
                        this.task.departmentdesc.name = val.value
                    }
                }
            },
            newcenter(){
                this.isSubmitting = true;
                this.errors = [];
                this.createTask({
                    payload: {
                        title: this.title,
                        dueDate: this.dateFormater(this.dueDate),
                        priority: this.priority,
                        description: this.description,
                        progressStatus: this.progressStatus,
                        category: this.category,
                        accessLevel: this.accessLevel,
                        department: this.department,
                        user: this.user,
                    },
                    context: this
                })
                .then(() => {
                    this.isSubmitting = false;
                    if (isEmpty(this.errors)) {
                        this.$modal.hide('taskModal')
                        let data = {'title': 'Created.', 'bottomclass': 'darkerror', 'topclass': 'swalsuccess', 'swalicon': 'icon-like', 'message': `${this.title} created successfully !`}
                        Bus.$emit('show-message-swal', data)
                        Bus.$emit('new-task-data', this.newdata)
                    }
                })
            },
            dateFormater(date){
                if (date != null && date != "") {
                    var today = new Date(date);
                    var dd = today.getDate();
                    var mm = today.getMonth()+1;
                    var yyyy = today.getFullYear();
                    var dateIssued = yyyy+'-'+mm+'-'+dd;
                    return dateIssued;
                }else {
                    return null;
                }
            },
            update(){
                this.isUpdating = true;
                this.errors = [];
                this.updatTask({
                    payload: {
                        id: this.task.id,
                        title: this.task.title,
                        dueDate: this.dateFormater(this.task.due_date),
                        priority: this.task.priority,
                        description: this.task.description,
                        progressStatus: this.task.progress_status,
                        category: this.task.category,
                        accessLevel: this.task.access_level,
                        department: this.task.department,
                        user: this.task.assigened_user,
                    },
                    context: this
                })
                .then(() => {
                    this.isUpdating = false;
                    if (isEmpty(this.errors)) {
                        this.$modal.hide('taskModal')
                        let data = {'title': 'Updated.', 'bottomclass': 'darkerror', 'topclass': 'swalsuccess', 'swalicon': 'icon-like', 'message': `${this.task.title} updated successfully !`}
                        Bus.$emit('show-message-swal', data)
                    }
                })
            },
        }
    }
</script>