<template>
    <div class="content-box">
        <div class="pipelines-w">
            <div class="row">
                <div class="col-md-12">
                    <div class="pipeline white">
                        <div class="pipeline-header">
                            <div class="element-header row">
                                <div class="col-sm-3">
                                    <h4>Tasks</h4>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-center form-control-sm rounded bright" placeholder="Search using name or code" type="text">
                                </div>
                                <div class="col-sm-3 text-right">
                                    <button @click="newtask" class="mr-2 mb-2 btn btn-primary btn-sm">
                                        <i class="os-icon os-icon-ui-22"></i>
                                        <span>Add new</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="table-responsive">
                                    <loading v-if="isLoading == true"></loading>
                                    <table v-else class="table table-padded">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type/Category</th>
                                                <th>Priority</th>
                                                <th>Due date</th>
                                                <th>Status</th>
                                                <!-- <th>Done</th> -->
                                                <th>Created by</th>
                                                <th>Assigned to</th>
                                                <th>Description</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <taskrow v-for="cent in centers" :userid="userid" :key="cent.id" :cent="cent"></taskrow>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal name="taskModal" classes="animated bounceInDown faster" :scrollable="true" :clickToClose="true" height="auto" :adaptive="true" :pivotY="0.2">
            <taskform :task="task" :priorities="priorities" :categories="categories" :accesslevels="accesslevels" :prostatus="prostatus" :departments="departments" :users="users" :state="state"></taskform>
        </modal>
    </div>
</template>
<script>
    import Bus from '../../../bus'
    import { mapGetters, mapActions } from 'vuex'
    export default {
        data () {
            return {
                returnData: [],
                errors: [],
                state: null,
                empty:null,
                isLoading: false
            }
        },
        computed: {
            ...mapGetters({
                centers: 'tasks/getTasks',
                task: 'tasks/getCenter',
                priorities: 'priorities/getPrioritiesList',
                categories: 'categories/getCategoriesList',
                accesslevels: 'accesslevels/getAccesslevelList',
                prostatus: 'progressstatus/getProgressStatusList',
                departments: 'costcenters/getCenterList',
                users: 'users/getUsersList',
                user: 'auth/user',
                userid: 'auth/getUserId',
            }),
        },
        methods: {
            ...mapActions({
                fetchTasks: 'tasks/fetchTasks',
                selectedCenter: 'tasks/selectedCenter',
                fetchPrioritiesList: 'priorities/fetchPrioritiesList',
                fetchCategoryList: 'categories/fetchCategoryList',
                fetchAccesslevelList: 'accesslevels/fetchAccesslevelList',
                fetchStatusList: 'progressstatus/fetchStatusList',
                fetchDepartmentList: 'costcenters/fetchDepartmentList',
                fetchUsersList: 'users/fetchUsersList',
            }),
            newtask(){
                this.selectedCenter()
                this.errors = [];
                this.state = 2
                this.$modal.show('taskModal')
            },
            open(data){
                this.selectedCenter(data)
                this.errors = [];
                this.state = 1
                this.$modal.show('taskModal')
            }
        },
        mounted (){
            this.fetchTasks()
            this.fetchPrioritiesList()
            this.fetchCategoryList()
            this.fetchAccesslevelList()
            this.fetchStatusList()
            this.fetchDepartmentList()
            this.fetchUsersList()
            Bus.$on('close-task-modal', ()=> {
                this.$modal.hide('taskModal');
            })
            Bus.$on('new-task-data', (data)=> {
                this.centers.push(data)
            })

            Bus.$on('edit-task-data', ()=> {
                this.errors = [];
                this.state = 1
                this.$modal.show('taskModal')
            })
        }
    }
</script>