<template>
    <tr>
        <td>{{cent.title}}</td>
        <td v-if="cent.categorydesc != null">{{cent.categorydesc.name}}</td>
        <td v-else></td>
        <td v-if="cent.prioritydesc != null">{{cent.prioritydesc.name}}</td>
        <td v-else></td>
        <td>{{cent.due_date | moment}}</td>
        <td v-if="cent.progress != null">{{cent.progress.name}}</td>
        <td v-else></td>
        <td v-if="cent.user != null">{{cent.user.full_name}}</td>
        <td v-else></td>
        <td v-if="cent.assigened != null">{{cent.assigened.full_name}}</td>
        <td v-else></td>
        <td>{{cent.description}}</td>
        <td class="row-actions text-right">
            <span @click="open(cent)"><i class="os-icon os-icon-common-07"></i></span>
        </td>
    </tr>
</template>
<script>
    import Bus from '../../../bus'
    import { mapGetters, mapActions } from 'vuex'
    import moment from 'moment'
    export default {
        data(){
            return{
                isSubmitting: false,
                isUpdating: false,
                errors: []
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
            })
        },
        filters:{
            moment: function(date) {
                if (date != null) {
                    return moment(date).format('DD MMM YYYY');
                }else{
                    return null;
                }
            }
        },
        props:{
            cent:{
                required: false,
                type: Object
            }
        },
        methods:{
            ...mapActions({
                selectedCenter: 'tasks/selectedCenter',
            }),
            open(data){
                this.selectedCenter(data)
                Bus.$emit('edit-task-data')
            },
        }
    }
</script>