<template>
    <div class="content-box">
        <div class="control-header">
            <div class="row align-items-center">
                <div class="col-8 col-lg-7">
                    <div class="form-group mr-4">
                        <label class="mr-2">Users</label>
                    </div>
                </div>
                <div class="col-4 col-lg-5 text-right">
                    <router-link class="btn btn-sm btn-primary btn-upper" to="/new-user">
                        <i class="os-icon os-icon-ui-22"></i>
                        <span>Add User</span>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="pipelines-w">
            <div class="row">
                <div class="col-lg-4 col-xxl-3">
                    <div class="pipeline white lined-primary">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Normal Users</h5>
                            <div class="pipeline-settings os-dropdown-trigger">3</div>
                        </div>
                        <div class="pipeline-body">
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-red" data-placement="top" data-toggle="tooltip"
                                        title="Account Inactive"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img src="assets/img/avatar1.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Better Pharmacy</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-success">Activate</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>8 Chats</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar7.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Goldman</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>12 Chats</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="pi-settings os-dropdown-trigger">
                                        <i class="os-icon os-icon-ui-46"></i>
                                    </div>
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar6.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Bosing Corp</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>6 Chats</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3">
                    <div class="pipeline white lined-danger">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Managers</h5>
                            <div class="pipeline-settings os-dropdown-trigger">2</div>
                        </div>
                        <div class="pipeline-body">
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img src="assets/img/avatar1.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Better Pharmacy</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>8 Chats</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="pi-settings os-dropdown-trigger">
                                        <i class="os-icon os-icon-ui-46"></i>
                                    </div>
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar3.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Bosing Corp</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>6 Chats</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3">
                    <div class="pipeline white lined-success">
                        <div class="pipeline-header">
                            <h5 class="pipeline-name">Admin</h5>
                            <div class="pipeline-settings os-dropdown-trigger">3</div>
                        </div>
                        <div class="pipeline-body">
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar5.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Borgia Lime</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>15 Chats</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar2.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Key Stone</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>7 Chats</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pipeline-item">
                                <div class="pi-controls">
                                    <div class="status status-green" data-placement="top" data-toggle="tooltip"
                                        title="Active Status"></div>
                                </div>
                                <div class="pi-body">
                                    <div class="avatar">
                                        <img alt="" src="assets/img/avatar3.jpg">
                                    </div>
                                    <div class="pi-info">
                                        <div class="h6 pi-name">Faradey Corp</div>
                                        <div class="pi-sub">John Mayers</div>
                                    </div>
                                </div>
                                <div class="pi-foot">
                                    <div class="tags">
                                        <span class="tag text-danger">Suspend</span>
                                        <span class="tag text-success">Edit</span>
                                    </div>
                                    <a class="extra-info" href="apps_pipeline.html#">
                                        <i class="os-icon os-icon-mail-12"></i>
                                        <span>4 Chats</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<style>
    .pipeline.white .pipeline-item{
        cursor: auto;
    }
    .pipeline-item .pi-foot .tags .tag{
        border: 1px solid #04780000;
    }
</style>
