<template>
    <div class="content-box">
        <div class="row">
            <!-- Overdue -->
            <div class="col-12 pipelines-w mb-3">
                <div class="element-wrapper pb-2">
                    <h6 class="element-header">Over due</h6>
                    <div class="pipeline white">
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="row w-100">
                                    <div v-for="dt in overdue" :key="dt.id" @click="open(dt)" class="col-md-6 mb-3 col-xxl-4">
                                        <div class="support-ticket">
                                            <div class="st-meta">
                                                <i class="text-danger icon-energy"></i>
                                            </div>
                                            <div class="st-body">
                                                <div class="ticket-content mr-auto">
                                                    <h6 class="ticket-title">{{dt.title}}</h6>
                                                    <div class="ticket-description">{{dt.description}}</div>
                                                </div>
                                            </div>
                                            <div class="st-foot">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <span class="value with-avatar">
                                                            <img v-if="dt.user != null" :src="dt.user.avatarlink+dt.user.avatar">
                                                            <span>{{dt.user.full_name}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 text-right pt-1">
                                                        <span class="label">Category:</span>
                                                        <span class="value" v-if="dt.categorydesc != null">{{dt.categorydesc.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- today -->
            <div class="col-12 pipelines-w mb-3">
                <div class="element-wrapper pb-2">
                    <h6 class="element-header">Today</h6>
                    <div class="pipeline white">
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="row w-100">
                                    <div v-for="dt in today" :key="dt.id" @click="open(dt)" class="col-md-6 mb-3 col-xxl-4">
                                        <div class="support-ticket">
                                            <div class="st-meta">
                                                <i class="text-warning icon-badge"></i>
                                            </div>
                                            <div class="st-body">
                                                <div class="ticket-content mr-auto">
                                                    <h6 class="ticket-title">{{dt.title}}</h6>
                                                    <div class="ticket-description">{{dt.description}}</div>
                                                </div>
                                            </div>
                                            <div class="st-foot">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <span class="value with-avatar">
                                                            <img v-if="dt.user != null" :src="dt.user.avatarlink+dt.user.avatar">
                                                            <span>{{dt.user.full_name}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 text-right pt-1">
                                                        <span class="label">Category:</span>
                                                        <span class="value" v-if="dt.categorydesc != null">{{dt.categorydesc.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No dates -->
            <div class="col-12 pipelines-w mb-3">
                <div class="element-wrapper pb-2">
                    <h6 class="element-header">No date</h6>
                    <div class="pipeline white">
                        <div class="pipeline-body">
                            <div class="support-index">
                                <div class="row w-100">
                                    <div v-for="dt in nodates" :key="dt.id" @click="open(dt)" class="col-md-6 mb-3 col-xxl-4">
                                        <div class="support-ticket">
                                            <div class="st-meta"><i class="text-success os-icon os-icon-ui-07"></i></div>
                                            <div class="st-body">
                                                <div class="ticket-content mr-auto">
                                                    <h6 class="ticket-title">{{dt.title}}</h6>
                                                    <div class="ticket-description">{{dt.description}}</div>
                                                </div>
                                            </div>
                                            <div class="st-foot">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <span class="value with-avatar">
                                                            <img v-if="dt.user != null" :src="dt.user.avatarlink+dt.user.avatar">
                                                            <span>{{dt.user.full_name}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 text-right pt-1">
                                                        <span class="label">Category:</span>
                                                        <span class="value" v-if="dt.categorydesc != null">{{dt.categorydesc.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal name="selectedUserTaskModal" :scrollable="true" classes="animated bounceInDown faster" :clickToClose="true" height="auto" :adaptive="true" :pivotY="0.2">
            <selecteduserjob :data="slt" :usercenter="usercenter" />
        </modal>
    </div>
</template>
<script>
import Bus from '../../../bus'
import FuelCost from '../../../components/Graphs/Fuel'
import RepairCost from '../../../components/Graphs/Repair'
import BookingCount from '../../../components/Graphs/Booking'
import { mapGetters, mapActions } from 'vuex'
import { isEmpty } from 'lodash'
import moment from 'moment'
export default {
    components: { FuelCost, RepairCost, BookingCount },
    data () {
        return {
            isGettingMc: false,
            isLoadingMc: false,
            // jobcarddata: null,
        }
    },
    computed: {
        ...mapGetters({
            data: 'tasks/getMyTasks',
            slt: 'userdashboard/getSelectedTask',
            usercenter: 'users/getUsersCenterList',
        }),
        today: function(){
            var todaysdate = moment().format('YYYY-MM-DD');
            var filtered = [];
            filtered = this.data.filter((rpt) => {
                return moment(rpt.due_date).format('YYYY-MM-DD') == todaysdate
            })
            return filtered;
        },
        overdue: function(){
            var todaysdate = moment().format('YYYY-MM-DD');
            var filtered = [];
            filtered = this.data.filter((rpt) => {
                return moment(rpt.due_date).format('YYYY-MM-DD') < todaysdate
            })
            return filtered;
        },
        nodates: function(){
            var todaysdate = moment().format('YYYY-MM-DD');
            var filtered = [];
            filtered = this.data.filter((rpt) => {
               return rpt.due_date == null
            })
            return filtered;
        },
    },
    methods: {
        ...mapActions({
            myTasks: 'tasks/myTasks',
            setSelectedTask: 'userdashboard/setSelectedTask',
            fetchUsersCenterList: 'users/fetchUsersCenterList',
        }),
        dateFormater(date){
            if (date != null && date != "") {
                var today = new Date(date);
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                var dateIssued = yyyy+'-'+mm+'-'+dd;
                return dateIssued;
            }else {
                return null;
            }
        },
        open(data){
            this.setSelectedTask(data)
            this.$modal.show('selectedUserTaskModal')
        },
    },
    mounted (){
        this.myTasks()
        this.fetchUsersCenterList()
        Bus.$on('close-usertskmodal-modal', (data)=> {
            this.$modal.hide('selectedUserTaskModal')
        })
    }
}
</script>
<style scoped>
    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 99.6666666667%;
        max-width: 99.6666666667%;
    }
    h4{
        margin-bottom: 0;
    }
    .support-index .support-ticket+.support-ticket{
        margin-top: 0px;
        margin-left: 20px;
    }
    .pipeline-body{
        min-height: 0;
    }

    .userborder{
        -webkit-box-shadow: 0px 0px 0px 3px #077bf8;
        box-shadow: 0px 0px 0px 3px #077bf8;
    }
    .driverborder{
        -webkit-box-shadow: 0px 0px 0px 3px #f70e02;
        box-shadow: 0px 0px 0px 3px #f70e02;
    }
    .mechanicborder{
        -webkit-box-shadow: 0px 0px 0px 3px #474747;
        box-shadow: 0px 0px 0px 3px #474747;
    }

    .driveravatar {
        width: 35px;
        border-radius: 35px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    .driveravatar img {
        height: auto;
        width: 35px;
    }
    .more {
        background-color: #047bf8;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        left: -30px;
        padding: 1px 7px;
        border-radius: 12px;
        color: #fff;
        font-size: .73rem;
        font-weight: bold;
    }
    .mechcount{
        background-color: #f70303;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: -10px;
        top: -7px;
        padding: 1px 6px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        font-size: .73rem;
    }
</style>